.header {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../../../assets/images/pexels-min-an-694740.jpeg");
  background-color: rgba(32, 29, 29, 0.818);
  background-size: 100% 100%;
}
